<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- vendor css -->
        <link href="<%= process.env.BASEURL %>assets/admin/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="<%= process.env.BASEURL %>assets/admin/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    
        <!-- DashForge CSS -->
        <link rel="stylesheet" href="<%= process.env.BASEURL %>assets/admin/assets/css/dashforge.css">
        <link rel="stylesheet" href="<%= process.env.BASEURL %>assets/admin/assets/css/dashforge.demo.css">

        <link rel="stylesheet" href="<%= process.env.BASEURL %>assets/admin/assets/css/dashforge.contacts.css">
        <link rel="stylesheet" href="<%= process.env.BASEURL %>assets/admin/assets/css/dashforge.dashboard.css">

        <script src="<%= process.env.BASEURL %>assets/admin/lib/jquery/jquery.min.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/feather-icons/feather.min.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/chart.js/Chart.bundle.min.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/cleave.js/cleave.min.js"></script>
        <link href="<%= process.env.BASEURL %>assets/admin/lib/select2/css/select2.min.css" rel="stylesheet">
        <script src="<%= process.env.BASEURL %>assets/admin/lib/select2/js/select2.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="<%= process.env.BASEURL %>assets/admin/lib/jquery.flot/jquery.flot.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/jquery.flot/jquery.flot.stack.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/lib/jquery.flot/jquery.flot.resize.js"></script>

    
        <script src="<%= process.env.BASEURL %>assets/admin/assets/js/dashforge.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/assets/js/dashforge.sampledata.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/assets/js/dashforge.contacts.js"></script>

    
        <!-- append theme customizer -->
        <script src="<%= process.env.BASEURL %>assets/admin/lib/js-cookie/js.cookie.js"></script>
        <script src="<%= process.env.BASEURL %>assets/admin/assets/js/dashforge.settings.js"></script>
    <title>Dashboard Layouts</title>
</head>
<body>
    <div><%- body %></div> 
</body>
</html>