<div class="services-details mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="services-details__sidebar">
                    <div class="services-details__services-list">
                        <ul class="services-details__services list-unstyled">
                            <li>
                                <a href="dating-relationship.html">Dating & Relationship</a>
                            </li>
                            <li>
                                <a href="self-esteem-issues.html">Self Esteem Issues</a>
                            </li>
                            <li>
                                <a href="family-psycology.html">Family Psycology</a>
                            </li>
                            <li class="active">
                                <a href="career-counseling.html">Career Counseling</a>
                            </li>
                            <li>
                                <a href="anxiety-grief.html">Anxiety & Grief</a>
                            </li>
                            <li>
                                <a href="young-adult-intensive.html">Young & Adult Intensive</a>
                            </li>
                        </ul>
                    </div>
                    <div class="banner-one">
                        <div class="banner-one__bg"
                            style="background-image: url(<%- process.env.BASEURL %>/assets/websiteAssets/images/backgrounds/banner-one-bg.png);"></div>
                        <div class="banner-one__shape-1 float-bob-x">
                            <img src="<%- process.env.BASEURL %>/assets/websiteAssets/images/shapes/banner-one-shape-1.png" alt="">
                        </div>
                        <h3 class="banner-one__title">Experiencing
                            <br> Similar Problems
                            <br> Contact us</h3>
                        <div class="banner-one__btn-box">
                            <a href="contact.html" class="banner-one__btn thm-btn">Contact Now</a>
                        </div>
                    </div>
                    <div class="services-details__documents">
                        <ul class="services-details__documents-list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-pdf-file"></span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Control Self Esteem</a></h3>
                                    <p>3.9KB</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-pdf-file"></span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">How to Save Yourself</a></h3>
                                    <p>3.9KB</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="services-details__right">
                    <div class="services-details__img">
                        <img src="<%- process.env.BASEURL %>/assets/websiteAssets/images/services/services-details-img-6.jpg" alt="">
                    </div>
                    <h3 class="services-details__title-1">Career Counseling</h3>
                    <p class="services-details__text-1">There are many variations of passages of lorem ipsum is
                        simply free text available in the market, but the majority time you put aside to be in
                        our office. Lorem ipsum dolor sit amet, consectetLorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <h3 class="services-details__title-2">Our therapies can improve your self esteem.</h3>
                    <p class="services-details__text-2">Ut enim ad minima veniam, quis nostrum exercitationem
                        ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                        autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                        consequatur.</p>
                    <h3 class="services-details__title-3">Our Therapy Process</h3>
                    <ul class="services-details__process list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="icon-form"></span>
                                <div class="services-details__process-count"></div>
                            </div>
                            <h3>Book Appointment</h3>
                            <p>Lorem ipsum proin gravida <br> nibh vel velit auctor <br> aliquet.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-psychologist-2"></span>
                                <div class="services-details__process-count"></div>
                            </div>
                            <h3>Therapy Sessions</h3>
                            <p>Lorem ipsum proin gravida <br> nibh vel velit auctor <br> aliquet.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-self-improvement"></span>
                                <div class="services-details__process-count"></div>
                            </div>
                            <h3>Gain Confidence</h3>
                            <p>Lorem ipsum proin gravida <br> nibh vel velit auctor <br> aliquet.</p>
                        </li>
                    </ul>
                    <div class="services-details__benefit">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="services-details__benefit-img">
                                    <img src="<%- process.env.BASEURL %>/assets/websiteAssets/images/services/services-details-benefit-img.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="services-details__benefit-content">
                                    <h3 class="services-details__benefit-title">Therapy Benefits</h3>
                                    <p class="services-details__benefit-text">Build a strong, happy, healthy and
                                        loving relationship</p>
                                    <ul class="services-details__benefit-points list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Problem solving and conflict resolution</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Process underlying pain and anger</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Repair your past hurts and issues</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Rebuild your respect and trust</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services-details__book">
                        <div class="services-details__book-img">
                            <img src="<%- process.env.BASEURL %>/assets/websiteAssets/images/services/services-details-book-img.jpg" alt="">
                        </div>
                        <div class="services-details__book-shape-1">
                            <img src="<%- process.env.BASEURL %>/assets/websiteAssets/images/shapes/services-details-book-shape-1.png" alt="">
                        </div>
                        <div class="services-details__book-top">
                            <div class="icon">
                                <span class="icon-phone-call"></span>
                            </div>
                            <div class="content">
                                <p>Have Questions?</p>
                                <h4><a href="tel:+926668880000">+92 (666) 888 0000</a></h4>
                            </div>
                        </div>
                        <div class="services-details__book-title-and-btn">
                            <h3 class="services-details__book-title">Book Your
                                <br> Appointment Now</h3>
                            <div class="services-details__book-btn-box">
                                <a href="contact.html" class="services-details__book-btn thm-btn">Contact
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>